body {
    background-color: #d2e9c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: white;
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;
}

.copyright-header {
    font-size: 14px;
    font-weight: 500;
}

.wrapper {
    margin: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: baseline;
}

/*sidebar*/
.sidebar {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 320px;
}

.rules {
    margin: 0;
    padding: 0;
}

.rules__item {
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
    background-color: #9ce9c9;
    color: #000000;
    padding: 4px;
    border-radius: 8px;
}

.sidebar>h2 {
    padding: 0;
    margin: 0;

    margin-bottom: 12px;
    font-size: 24px;
}

.sidebar>p {
    padding: 0;
    margin: 0;

    font-size: 14px;
    color: #646464;
    margin-bottom: 16px;
}

.numeration {
    font-weight: 500;
}

.lilNumber {
    font-size: 9px;
}

/*main*/
.main-div {
    padding: 20px;
    border-left: 2px solid #acacac;
}

.main__title {
    padding: 0;
    margin: 0;
    font-size: 36px;
}

.highlight {
    background-color: #9ce9c9;
    font-weight: 500;
}

.history__title {
    margin: 0;
    padding: 0;
}

.chemist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: auto;
    padding: 0;
    gap: 20px;
}

.chemist__item {
    display: flex;
    flex-direction: column;
}

.chemist__img {
    border-radius: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .chemist__img {
        width: 200px;
    }

    .usage__item {
        flex-direction: row;
    }
}

.chemist__caption {
    color: #646464;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.info {
    display: flex;
    padding: 10px;
    background-color: #a9d6e5;
    border-radius: 10px;
    margin-bottom: 12px;
    align-items: start;
    gap: 10px;
}

.info__svg {
    margin: 0;
}

.info__message {
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.usage__title {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 24px;
}

.usage__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.usage__img {
    border-radius: 16px;
}

.usage__item {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

/*footer*/
footer {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
}

.copyright-footer-div {
    display: flex;
}

.copyright-box {
    margin-left: auto;
    text-align: end;
    font-weight: 500;
}

.copyright-mark {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    color: #646464;
    text-align: center;
}

.contact {
    margin: 0;
    padding: 0;
    color: #646464;
}

.copyright-date {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .copyright-footer-div {
        flex-direction: column;
        gap: 0px;
    }

    .copyright-box {
        margin-left: 0;
        text-align: start;
        font-size: 14px;
    }

    .copyright-mark {
        margin-top: 20px;
    }

    .main-div {
        border-left: none;
    }

    .sidebar {
        border-right: 2px solid transparent;
    }

    .main__title {
        font-size: 26px;
    }
}